.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: #1a8cff;
}


/* 
.micro {
    color: #734d26;
} */

.micro {
    color: rgb(0, 0, 255);
}

.yellow {
    color: #cc6600;
}

.include {
    color: #773c57;
}