.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: #2851a4;
}

.micro {
    color: #1a8cff;
}

.yellow {
    color: #cc6600;
}

.include {
    color: #773c57;
}