



.code-section{
  padding: 20px;
  background: black;
}

.code-section p {
  white-space:pre-wrap;
}
p.code:before {
  counter-reset: listing;

}

p.code code {
  counter-increment: listing;
  color: white;

}
p.code code::before {
  content: counter(listing) ". ";
  display: inline-block;
  /* width: 8em;          */
  padding-left: auto;
  margin-left: auto;
  /* text-align: right; */
  color:yellow;
}


fourtabs {
    tab-size:4;
    -moz-tab-size: 4;
    -o-tab-size:  4;
  /* white-space: pre-wrap; */
}
