



.code-section{
  padding: 20px;
  background: black;
}

p.code {
  /* white-space: pre-wrap; */
  color: white;
}
p.code:before {
  counter-reset: listing;
}
p.code code {
  counter-increment: listing;
}
p.code code::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;         /* now works */
  padding-left: auto; /* now works */
  margin-left: auto;  /* now works */
  text-align: right;  /* now works */
}


fourtabs {
    tab-size:4;
    -moz-tab-size: 4;
    -o-tab-size:  4;
  /* white-space: pre-wrap; */
}
